<form class="user-form" role="form" (submit)="save()" [formGroup]="userForm" >

    <md-input-container>
        <input mdInput type="text" name="name" formControlName="name" placeholder="name" autofocus="true" tabindex="1"/>
        <md-hint *ngIf="userForm.controls.name.touched && userForm.controls.name.errors?.required">
                Please, fill the Name field
        </md-hint>
    </md-input-container>

    <div class="checkbox-container">
        <md-checkbox name="isAdmin" formControlName="isAdmin" color="warn">Admin</md-checkbox>
    </div>

    <div *ngIf="!user.id">
        <md-input-container>
            <input mdInput type="text" name="username" formControlName="username" placeholder="username" autofocus="true" tabindex="1"/>
            <md-hint *ngIf="userForm.controls.username.touched && userForm.controls.username.errors?.required">
                    Please, fill the Username field
            </md-hint>
            <md-hint *ngIf="userForm.controls.username.touched && userForm.controls.username.errors?.notUnique">
                    This username is not available. Choose another username.
            </md-hint>
        </md-input-container>

        <md-input-container>
            <input mdInput [type]="userForm.controls.showPassword.value ? 'text' : 'password'" name="password" formControlName="password" placeholder="password" autofocus="true" tabindex="1"/>
            <md-hint *ngIf="userForm.controls.password.touched && userForm.controls.password.errors?.required">
                    Please, fill the Password field
            </md-hint>
        </md-input-container>

        <div class="checkbox-container">
            <md-checkbox name="isAdmin" formControlName="showPassword" >Show password</md-checkbox>
        </div>
    </div>

    <p>
        <button *ngIf="user.id" [disabled]="user.username == 'admin'" type="button" md-icon-button color="warn" (click)="userService.delete(user)">
    		<md-icon class="example-icon">delete</md-icon>
    	</button>

        <button md-raised-button type="submit" color="primary" [disabled]="!userForm.valid">Save</button>
    </p>

</form>
