<div class="wide-central-shape">
	<div class="wide-central-title">
		<a md-mini-fab color="primary" routerLink="/user/insert">
			<md-icon>add</md-icon>
		</a>
		<span class="flex-spacer"></span>
		<h1>Users</h1>
		<span class="flex-spacer"></span>
		<button md-mini-fab color="default" type="button" (click)="toggleFilter()">
			<md-icon>search</md-icon>
		</button>
	</div>

	<div *ngIf="showFilter">
		Filter
	</div>

	<hr />

	<ul *ngFor="let user of (userService.users | async)">
		<li><user-card [user]="user"></user-card></li>
	</ul>
</div>
