<md-toolbar color="primary">
  <a routerLink="/">UsersApp</a>
  <span class="toolbar-spacer"></span>
  <button md-button *ngIf="userService.isLoggedIn()" type="button" routerLink="/user">Usuarios</button>
  <button md-button *ngIf="!userService.isLoggedIn()" type="button" routerLink="/user/login">Entrar</button>
  <button md-button *ngIf="userService.isLoggedIn()" type="button" (click)="userService.logout()">Sair</button>
</md-toolbar>

<div class="main-content">
    <router-outlet></router-outlet>
</div>
