<div class="small-central-shape">
    <h1>Sign in</h1>

    <form role="form" (submit)="login()" [formGroup]="loginForm">

        <md-input-container>
            <input mdInput type="text" name="username" formControlName="username" placeholder="username" />
            <md-hint *ngIf="loginForm.controls.username.touched && loginForm.controls.username.errors?.notMatch">
                    User and password not match
            </md-hint>
            <md-hint *ngIf="loginForm.controls.username.touched && loginForm.controls.username.errors?.required">
                    Please fill the Username field
            </md-hint>
        </md-input-container>

        <md-input-container>
            <input mdInput type="password" name="password" formControlName="password" placeholder="password" />
            <md-hint *ngIf="loginForm.controls.username.touched && loginForm.controls.username.errors?.reuired">
                    Please fill the Password field
            </md-hint>
        </md-input-container>

        <p>
            <button md-raised-button type="submit" color="primary" [disabled]="!loginForm.valid">Sign-in</button>
        </p>

    </form>
</div>
